<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">The Traveler</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/home']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>Home</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/createpackage']" class="nav-link" ><i class="nc-icon nc-book-bookmark"></i>Create Package</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
