#homeSearch{
    background-color: transparent;
    color: white;
   
}

@media(min-width : 1200px){ 
 #homeSearch{
    width: 600px;
    }
}

@media(min-width : 992px){ 
    #homeSearch{
       width: 550px;
       }
   }

   @media(min-width : 768px){ 
    #homeSearch{
       width: 500px;
       }
   }
   @media(min-width : 576px){ 
    #homeSearch{
       width: 300px;
       }
   }