<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="content-center">
      <div class="container">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." id="homeSearch">
          <span class="input-group-btn">
            <button class="btn btn-search" type="button">
              <i class="fa fa-search fa-fw"></i> Search</button>
          </span>
        </div>

        <h2 class="presentation-subtitle text-center">Loremp Ipsum achi Teashi</h2>
      </div>
    </div>


  </div>
  <div class="main">
    <!--<ul *ngFor="let p of packageList | async">
      <h4>{{ p.name }}</h4>
    </ul>-->
    <packages></packages>
  </div>
</div>