<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="content-center">
      <div class="container">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." id="homeSearch">
          <span class="input-group-btn">
            <button class="btn btn-search" type="button">
              <i class="fa fa-search fa-fw"></i> Search</button>
          </span>
        </div>

        <h2 class="presentation-subtitle text-center">Loremp Ipsum achi Teashi</h2>
      </div>
    </div>


  </div>
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Packages</h2>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <h4>Palawan</h4>
            <a href="#">
              <img class="img-rounded img-responsive" src="../../assets/img/thumbnail/place-1.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <h4>Ilocos</h4>
            <a href="#">
              <img class="img-rounded img-responsive" src="../../assets/img/thumbnail/place-2.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <h4>Boracay</h4>
            <a href="#">
              <img class="img-rounded img-responsive" src="../../assets/img/thumbnail/place-3.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <h4>Siargao</h4>
            <a href="#">
              <img class="img-rounded img-responsive" src="../../assets/img/thumbnail/place-4.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <h4>Guimaras</h4>
            <a href="#">
              <img class="img-fluid img-thumbnail" src="../../assets/img/thumbnail/place-5.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <h4>Isla Gigantes</h4>
            <a href="#">
              <img class="img-fluid img-thumbnail" src="../../assets/img/thumbnail/place-6.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <h4>Camiguin</h4>
            <a href="#">
              <img class="img-fluid img-thumbnail" src="../../assets/img/thumbnail/place-7.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <h4>Albay</h4>
            <a href="#">
              <img class="img-fluid img-thumbnail" src="../../assets/img/thumbnail/place-8.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
